<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-logo-wrapper">
        <a class="qf-nav-logo" href="/">
          <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 300 68" min-width="180px" height="42px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/qf-logo.svg#qf_logo"></use></svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer-contact-section-wrapper no-padding">
        <div class="col-md-4 no-padding ">
          <div class="col-md-12 footer-contact-title no-padding">How to reach us</div>
          <div class="col-md-12 footer-contact-item no-padding">Qatar Foundation </br>P.O. Box 5825 Doha, Qatar</div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="col-md-12 footer-contact-title no-padding">Say hello</div>
          <div class="col-md-12 footer-contact-item no-padding">+974 4454 0000</div>
        </div>
        <div class="col-md-4 no-padding">
          <div class="col-md-12 footer-contact-title no-padding">Stay in touch</div>
        </div>
      </div>
    </div>
    
    <!-- <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div> -->

  </div>

</footer>
