<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-logo-wrapper">
        <a class="qf-nav-logo" href="/">
          <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 300 68" min-width="180px" height="42px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/qf-logo.svg#qf_logo"></use></svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer-contact-section-wrapper no-padding">
        <div class="col-md-4 no-padding footer-content-item-wrapper">
          <div class="col-md-12 footer-contact-title no-padding">How to reach us</div>
          <div class="col-md-12 footer-contact-item no-padding">Qatar Foundation </br>P.O. Box 5825 Doha, Qatar</div>
        </div>
        <div class="col-md-4 no-padding footer-content-item-wrapper">
          <div class="col-md-12 footer-contact-title no-padding">Say hello</div>
          <div class="col-md-12 footer-contact-item no-padding">+974 4454 0000</div>
        </div>
        <div class="col-md-4 no-padding footer-content-item-wrapper">
          <div class="col-md-12 footer-contact-title no-padding">Stay in touch</div>
          <div>
            <a class="qf-footer-scoial-icon-wrapper" target="_blank" href="https://www.facebook.com/qatarfoundation"><img class="qf-footer-scoial-icon" src="./images/facebook.png" alt=""></a>
            <a class="qf-footer-scoial-icon-wrapper" target="_blank" href="https://twitter.com/QF"href="https://twitter.com/QF"><img class="qf-footer-scoial-icon" src="./images/twitter.png" alt=""></a>
            <a class="qf-footer-scoial-icon-wrapper" target="_blank" href="https://plus.google.com/114948305356502940347"><img class="qf-footer-scoial-icon" src="./images/google-plus.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>

</footer>
