
/*------------------------------------------------------------------
[Layout Stylesheet]

Project:    Qatar Foundation Media
Version:    1.0
Created:    21.12.2017 10:55 AM
Use:   Event/News based micro website 
-------------------------------------------------------------------*/
/*---------------------
Header
-----------------------*/
.qf-nav-wrapper{
    padding: 10px 0;
}
.qf-nav-logo {
    display: inline-block;
}
.qf-nav-outer {
    border-top: 5px solid $qf-brand-green;
    border-bottom: 1px solid #f5f5f5;
    min-height: 56px;
}
/*---------------------
Page content
-----------------------*/
.page-content {
    padding: $spacing-unit 0;
}
.qf-top-banner{
    background-image: url(../images/qf-top-banner.jpg);
    background-position: center;
    background-size: 100%;
    padding: 120px;
    position: relative;
}
.qf-banner-h1{
    color:#fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.qf-banner-desc{
    text-align: center;
    color: #c3c3c3;
    font-size: 18px;
    font-weight: 300;
}
.qf-banner-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}  
.qf-featured-section{
    padding: 40px 0 60px;
}
.qf-featured-list-wrapper{
    padding-top: 40px;
}
.qf-featured-list-title-wrapper{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    min-height: 100px;
    border-bottom: 5px solid #dc2127;
}
.qf-featured-item-link{
    color: #fff;
}
.qf-featured-item-link:hover,.qf-featured-item-link:active,.qf-featured-item-link:visited{
    color:#f9f9f9;
}
.qf-featured-list-item{
    min-height: 250px;
    box-shadow: rgba(86, 86, 86, 0.1) 0px 0.5px 6px, rgba(179, 179, 179, 0.1) -1px 1px 11px;
}
.qf-featured-list-title{
    font-size: 17px;
    font-weight: 500;
    line-height: 145%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
.qf-featured-source-name{
    padding: 6px 0px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #ababab;
    font-weight: 300;
    border-radius: 8px;
}
.qf-highlights-section{
    padding: 60px 0;
}
.qf-highlights-title,.qf-featured-title{
    text-transform: uppercase;
    font-weight: 600;
}
.qf-highlights-title{
    display: inline-block;
    background: #0099cc;
    padding: 13px 25px;
    font-size: 16px;
    color: #fff;
}
.qf-featured-title{
    background: #dc2127;
}
.qf-highlights-title-wrapper{
    border-bottom: 1px solid rgb(0, 153, 204);
    padding:0;
}
.qf-featured-title-wrapper{
    border-bottom: 1px solid rgb(220, 33, 39);
}
.nice-select{
    display: inline-block;
    float: none;
    border:none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.nice-select .list{
    border-radius: 0;
}
.qf-highlights-filter-wrapper{
    text-align: right;
    padding: 0;
}
.qf-filter-mob-view{
    display: none;
    text-align: right;
}
.qf-highlights-list-wrapper{
    padding-top: 50px;
}
.qf-highlights-item-wrapper{
    padding: 0 20px 40px;
}
.qf-highlights-item{
    min-height: 385px;
    background: #fff;
    box-shadow: rgba(86, 86, 86, 0.1) 0px 0.5px 6px, rgba(179, 179, 179, 0.1) -1px 1px 11px;
}
.qf-highlights-item-img{
    border-bottom: 5px solid #0099cc;
    max-height: 190px;
    width: 100%;
    object-fit: cover;
}
.qf-highlights-item-img-wrapper{
    min-height: 190px;
}
.qf-highlights-item-date{
    padding: 10px 0;
    display: block;
    color: #9c9c9c;
    font-size: 12px;
}
.qf-highlights-item-title-wrapper{
    padding: 5px 0 15px 0;
}
.qf-highlights-item-title{
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
    color: #404040;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.qf-highlights-item-title:visited{
    color: #404040;
}
a.qf-highlights-item-title:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    cursor: pointer;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
.qf-highlights-source-name{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #efefef;
    margin-bottom: 20px;
    font-size: 11px;
    color: #4e4e4e;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
}
.qf-no-result-wrapper{
    text-align: center;
    padding: 60px 0;
    display: none;
}
/*---------------------
Footer
-----------------------*/
.footer-wrapper {
    border-top: 1px solid #f1f1f1;
    padding: 30px 0 80px;
    background: #fff;
}
.footer-logo-wrapper{
    padding: 0 0 20px;
    border-bottom: 1px solid #f1f1f1;
}
.footer-contact-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #1f1f1f;
    padding-bottom: 10px;
}
.footer-contact-section-wrapper{
    padding: 20px 0 0;  
}
.footer-contact-item{
    color: #616161;
}
.qf-footer-scoial-icon-wrapper{
    padding-right: 8px;
}
.qf-footer-scoial-icon{
    width: 28px;
    object-fit: cover;
    opacity: .9;
}
.qf-footer-scoial-icon:hover{
    opacity: .6;
}
/* ==============================
   Tablet landskape
   ============================== */
@media only screen and (max-width: 1200px) {
    .qf-highlights-item{
        min-height: 380px;
    }
}
@media only screen and (max-width: 992px) {
    .qf-featured-list-item{
        margin-bottom: 20px;
    }
    .footer-content-item-wrapper{
        padding-bottom: 30px;
    }
    .qf-highlights-filter-wrapper{
        display: none;
    }
    .qf-filter-mob-view{
        display: block;
    }

}
/* ==============================
   Tablet Portrait
   ============================== */
@media only screen and (max-width: 768px) {
    .qf-featured-list-wrapper{
        margin-bottom: 40px;
    }
    .qf-featured-list-item{
        margin-bottom: 20px;
    }
    .qf-top-banner{
        padding: 60px;
    }
    .qf-banner-h1{
        font-size: 30px;
    }
    .qf-banner-desc{
        font-size: 16px;
        padding-top: 20px;
    }
    .qf-nav-wrapper{
        padding: 10px 20px;
    }
    .footer-logo-wrapper{
        padding: 0 20px 20px;
    }
    .footer-contact-section-wrapper{
        padding: 20px 20px 0 20px;
    }
    .qf-filter-mob-view{
        text-align: center;
        padding: 10px 0;
    }
}
/* ==============================
   Phone
   ============================== */
@media only screen and (max-width: 480px) {
    .qf-nav-wrapper{
        padding: 10px 20px;  
    }
    .qf-top-banner{
        padding: 50px 20px;
    }
    .qf-banner-h1{
        font-size: 24px;
    }
    .qf-banner-desc{
        font-size: 14px;
        padding-top: 20px;
    }
    .qf-featured-list-item{
        margin-bottom: 20px;
    }
    .qf-featured-list-wrapper{
        margin-bottom: 40px;
    }
    .qf-highlights-filter-wrapper{
        padding: 10px 0;
    }
    .nice-select{
        font-size: 12px;
        padding-left: 5px;
        padding-right: 25px;
    }
}

